@charset "UTF-8";
/*em HTML é id = em CSS é # (só pode um elemento)
  em HTML é class = em CSS é . (pode vários elementos)
  */

body {
    background-color: rgb(202, 224, 217);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color:rgb(71, 121, 121);
}
h1#principal {
    text-align: center;
    background-color:#97d18684;
    color:white;
}
h2 {
    color:#74d094;
    font-weight: bold;
}
.basico{
    color:#19a8d4;
    font-weight: bold;
}
.intermediario {
    color:#288580;
    font-weight: bold;
}
.avançado {
    color:#25a8d0;
    font-weight: bold;
} 
.destaque { 
background-color:#9dedd1;
font-weight: bold;
}